#Build output
**/bin/
**/bin-int/
Intermediates/
x64/
Debug/
Release/

#Compiled binaries & intermediate files
*.obj
*.pdb
*.idb
*.ipch
*.ilk
*.tlog
*.cache

#project files
**.sln
**.sln.*
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#VS stuff
.vs/
*.VC.db
*.suo
*.user
*.ncb
*.log
*.sdf
*.opensdf
*.db

#Other
#*.log