#ignore all vs studio config files
**/Debug
**/Release
**/.vs
**/.vscode
**/x64
**/fmt.dir
**/*.bat
**/*.vcxproj.*
**/Obj
**/*.exe
**/*.pdb
**/*.cd
**/*.sln.DotSettings*

#ignoring build directory
Build
Build/*

#ignoring include directory
Include
Include/*

#ignoring lib directory
Lib
Lib/*

#removing blendfiles
**/*.blend*
OrginalModels/*
OrginalModels

#removing templorary files
**/*.dat
**/*.tmp
**/*.txt
**/*.swp
**/*.json
**/*.bin
**/*.log
**/*.ini
**/*.conf